@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menu-appear {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes loader-appear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes loader-anim {
  0% {
    opacity: 0;
  }
  25% {
    transform: scale(1);
  }
  40% {
    opacity: 1;
  }
  75% {
    transform: scale(1.5);
  }
}
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../../../police/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../../police/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto";
  color: black;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 100;
}

p {
  font-size: 1.5em;
  color: #353535;
}

button {
  font-family: "Roboto";
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}

button {
  color: white;
  padding: 20px 20px;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 5px 5px 10px lightgrey;
  transition: opacity 0.75s;
  transition: box-shadow 0.75s;
}
button:hover {
  box-shadow: 10px 10px 15px grey;
  opacity: 0.7;
}

.loader {
  cursor: wait;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader-appear 2.5s forwards;
}
.loader-anim {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.loader-anim-i {
  font-size: 3em;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  animation: loader-anim 1.7s ease-in-out both;
}
.loader-anim-i-1 {
  animation-delay: 0.2s;
}
.loader-anim-i-2 {
  animation-delay: 0.4s;
}
.loader-anim-i-3 {
  animation-delay: 0.6s;
}
.loader-anim-i-4 {
  animation-delay: 0.8s;
}

.new {
  background-color: #99e2d0;
  color: #008766;
  border-radius: 10px;
  right: 0%;
  position: absolute;
  margin: 10px 30px;
  padding: 15px;
  font-weight: 800;
}

header {
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: "Shrikhand";
  font-size: 3em;
  box-shadow: 5px 5px 10px lightgrey;
  position: relative;
}
header i {
  position: absolute;
  top: 35%;
  left: 5%;
  color: #353535;
  font-size: 30px;
}

.footer {
  padding: 30px 20px 30px 20px;
  background-color: #353535;
  color: white;
}
.footer h2 {
  font-family: "Shrikhand";
  font-weight: 100;
}
.footer__lien {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer__lien a {
  color: white;
  font-size: 1.25em;
  margin: 5px 0 5px 0;
}
article {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
}
article p {
  font-size: 1.25em;
  color: #353535;
  font-weight: 900;
}

.section-reserv {
  background-color: #F6F6F6;
  padding: 30px 20px 30px 20px;
  text-align: center;
}

.section-fonct {
  padding: 50px 20px 50px 20px;
}
.section-fonct__obj {
  padding: 15px 30px 15px 30px;
  margin: 20px 0px 20px 20px;
  color: black;
  background-color: #F6F6F6;
  border-radius: 30px;
  box-shadow: 5px 5px 10px lightgrey;
}
.section-fonct__obj i {
  opacity: 0.5;
}
.section-fonct__obj__purple {
  background-color: rgba(147, 86, 220, 0.1);
}
.section-fonct__obj__purple i {
  color: #9356DC;
  opacity: 1;
}
.section-fonct__obj__nbr {
  margin: 0px 0 0 -45px;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  font-weight: 100;
  float: left;
}
@media (min-width: 800px) {
  .section-fonct {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-fonct__obj {
    width: 300px;
  }
}

.section-restau {
  background-color: #F6F6F6;
  padding: 50px 20px 50px 20px;
}
.section-restau__text {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.section-restau__obj {
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px lightgrey;
  overflow: hidden;
}
.section-restau__obj img {
  object-fit: cover;
  object-position: 50% 95%;
  height: 250px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.section-restau__obj i {
  margin: 0 30px 0 0;
  font-size: 2em;
}
.section-restau__obj i:hover {
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-restau__obj__heading {
  padding: 0px 20px 0px 20px;
  margin: 10px 0 5px 0;
}
.section-restau__obj__byline {
  padding: 0px 20px 20px 20px;
  margin: 5px 0 10px 0;
}
@media (min-width: 800px) {
  .section-restau h1 {
    text-align: center;
  }
  .section-restau__obj img {
    height: 600px;
    object-position: 50% 80%;
  }
}

.menu {
  margin-top: -50px;
  position: relative;
  padding: 50px 20px 50px 20px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
}
.menu__button {
  text-align: center;
  margin: 40px 0;
}
.menu__button button {
  padding: 20px 50px;
}
.menu h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 4px solid #99E2D0;
  width: 50px;
}
.menu__img img {
  object-fit: cover;
  object-position: 50% 95%;
  height: 350px;
  width: 100%;
  position: relative;
}
.menu__title {
  font-family: "Shrikhand";
}
.menu__title i {
  float: right;
  margin: 0 30px 0 0;
  font-size: 1.25em;
}
.menu__title i:hover {
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__plats {
  padding: 10px 0 10px 0;
}
.menu__plats-prix {
  float: right;
}
.menu__plats p {
  padding: 0 15px 0 15px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__plats p strong {
  font-size: 1.5em;
}
.menu__plats-prix {
  font-size: 1.25em;
  font-weight: bold;
  white-space: nowrap;
}
@media (min-width: 800px) {
  .menu__img img {
    height: 700px;
    object-position: 50% 80%;
  }
}

.check {
  background-color: #99E2D0;
  color: white;
  float: right;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  width: 80px;
  height: 80px;
  margin-right: -80px;
  transition: margin linear 0.5s;
}
.check i {
  margin-top: 30px;
}

.plats {
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px lightgrey;
  overflow: hidden;
  animation: menu-appear 1.5s ease-in-out backwards;
}
.plats-1 {
  animation-delay: 0.5s;
}
.plats-2 {
  animation-delay: 1s;
}
.plats-3 {
  animation-delay: 1.5s;
}
.plats:hover .check {
  margin: 0px;
}
.plats:hover .check i {
  animation: spin 0.5s linear;
}