body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../../../police/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../../police/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto";
  color: black;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-weight: 900;
}

p {
  font-size: 1.5em;
  color: #353535;
}

button {
  font-family: "Roboto";
  font-size: 1.25em;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}

button {
  padding: 20px 20px;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 5px 5px 10px lightgrey;
}
button:hover {
  box-shadow: 10px 10px 15px lightgrey;
}

header {
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: "Shrikhand";
  font-size: 3em;
  box-shadow: 5px 5px 10px lightgrey;
  position: relative;
}
header i {
  position: absolute;
  top: 35%;
  left: 5%;
  color: #353535;
  font-size: 30px;
}

.footer {
  padding: 30px 20px 30px 20px;
  background-color: #353535;
  color: white;
}
.footer h2 {
  font-family: "Shrikhand";
  font-weight: 100;
}
.footer__lien {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer__lien a {
  color: white;
  font-size: 1.25em;
  margin: 5px 0 5px 0;
}
article {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
}
article p {
  font-size: 1.25em;
  color: #353535;
  font-weight: 900;
}

.section-reserv {
  background-color: #F6F6F6;
  padding: 30px 20px 30px 20px;
  text-align: center;
}

.section-fonct {
  padding: 50px 20px 50px 20px;
}
.section-fonct__obj {
  padding: 15px 30px 15px 30px;
  margin: 20px 0px 20px 20px;
  color: black;
  background-color: #F6F6F6;
  border-radius: 30px;
  box-shadow: 5px 5px 10px lightgrey;
}
.section-fonct__obj i {
  opacity: 0.5;
}
.section-fonct__obj__purple {
  background-color: rgba(147, 86, 220, 0.1);
}
.section-fonct__obj__purple i {
  color: #9356DC;
  opacity: 1;
}
.section-fonct__obj__nbr {
  margin: 0px 0 0 -45px;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  font-weight: 100;
  float: left;
}

.section-restau {
  background-color: #F6F6F6;
  padding: 80px 20px 80px 20px;
}
.section-restau__text {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.section-restau__obj {
  background-color: white;
  border-radius: 30px;
  margin-top: 40px;
  box-shadow: 5px 5px 10px lightgrey;
}
.section-restau__obj img {
  object-fit: cover;
  object-position: 50% 95%;
  height: 280px;
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.section-restau__obj i {
  margin: 0 30px 0 0;
  font-size: 2em;
}
.section-restau__obj i:hover {
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
}
.section-restau__obj__heading {
  padding: 0px 20px 0px 20px;
  margin: 10px 0 5px 0;
}
.section-restau__obj__byline {
  padding: 0px 20px 20px 20px;
  margin: 5px 0 10px 0;
}

.menu {
  padding: 80px 20px 80px 20px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
}
.menu__img img {
  object-fit: cover;
  object-position: 50% 95%;
  height: 350px;
  width: 100%;
}