@font-face {
    font-family: "Shrikhand";
    src: url("../../../police/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../../../police/Roboto-Regular.ttf");
}

body {
    font-family: "Roboto";
    color: $text-color;
}

h1 {
    font-size: $h1-size;
    font-weight: $h1-weight;
    margin: 0;
}

h2 {
    font-weight: $h1-weight;
}

h3 {
    font-weight: 100;
}

p {
    font-size: $normal-size;
    color: $text-color-secondary;
}

button {
    font-family: "Roboto";
    font-size: $small-size;
    color: $fonct-nbr-color;
}

a {
    text-decoration: none;
    color: $text-color;
    &:visited {
        text-decoration: none;
    }
}