.menu {
    padding: $restau-padding;
    background-color: $background-color;
    border-radius: 50px 50px 0 0;
    &__button {
        text-align: center;
        margin: $menu-button-margin;
        & button{
            padding: $menu-button-padding;
        }
    }
    & h3{
        font-size: $normal-size;
        text-transform: uppercase;
        @include titre-border-bottom;
    }
    &__img img{
        @include menu-img;
    }
    &__title {
        font-family: $logo-font;
        & i{
            float: right;
            @include section-restau-i($small-size);
        }
    }
    &__plats {
        padding: $menu-padding;
        &-prix{
            float: right;
        }
        & p {
            padding: $menu-text-padding;
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            & strong{
                font-size: $normal-size;
            }
        }
        &-prix{
            font-size: $small-size;
            font-weight: bold;
            white-space: nowrap;
        }
    }
}

.check {
    @include menu-check;
}

.plats {
    @include section-restau-obj;
    &:hover .check i{
        animation: spin 0.5s linear;
   }
   &:hover .check {
        display: inline;
        animation: appear 0.5s linear forwards;
   }
}