.menu {
    margin-top: -50px;
    position: relative;
    padding: $restau-padding;
    background-color: $background-color;
    border-radius: 50px 50px 0 0;
    &__button {
        text-align: center;
        margin: $menu-button-margin;
        & button{
            padding: $menu-button-padding;
        }
    }
    & h3{
        font-size: $normal-size;
        text-transform: uppercase;
        @include titre-border-bottom;
    }
    &__img img{
        @include menu-img;
    }
    &__title {
        font-family: $logo-font;
        & i{
            float: right;
            @include section-restau-i($small-size);
        }
    }
    &__plats {
        padding: $menu-padding;
        &-prix{
            float: right;
        }
        & p {
            padding: $menu-text-padding;
            font-size: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            & strong{
                font-size: $normal-size;
            }
        }
        &-prix{
            font-size: $small-size;
            font-weight: bold;
            white-space: nowrap;
        }
    }
    @media (min-width: 800px) {
        &__img img {
            height: 700px;
            object-position: 50% 80%;
        }
    }
}

.check {
    @include menu-check;
    transition: margin linear 0.5s;
}

.plats {
    @include section-restau-obj;
    animation: menu-appear 1.5s ease-in-out backwards;
    @for $i from 1 through 3 {
        &-#{$i} {
            animation-delay: 0.5s * $i;
        }
    }
    &:hover .check {
        margin: 0px;
        & i {
            animation: spin 0.5s linear;
        }
    }
}