
//LOCALISATION
article {
    display: flex;
    justify-content: center;
    background-color: $background-color-position;
    & p{
        font-size: $small-size;
        color: $text-color-secondary;
        font-weight: $h1-weight;
    }
}

//SECTION RESERVEZ LE MENU QUI VOUS CONVIENT
.section-reserv {
    background-color: $background-color;
    @include padding-page;
    text-align: center;
}

//SECTION FONCTIONNEMENT
.section-fonct {
    @include padding-page;
}

//SECTION RESTAURANT ACCUEIL
.section-restau {
    background-color: $background-color;
    margin: 20px 0 20px 0;
    @include padding-page;
    &__obj {
        background-color: $background-color-secondary;
        border-radius: 30px;
        margin-top: 40px;
    }
}