
//LOCALISATION
article {
    display: flex;
    justify-content: center;
    background-color: $background-color-position;
    & p{
        font-size: $small-size;
        color: $text-color-secondary;
        font-weight: $h1-weight;
    }
}

//SECTION RESERVEZ LE MENU QUI VOUS CONVIENT
.section-reserv {
    background-color: $background-color;
    @include padding-page;
    text-align: center;
}

//SECTION FONCTIONNEMENT
.section-fonct {
    @include padding-page($fonct-padding);
    &__obj {
        @include fonct-obj;
        box-shadow: $box-shadow;
        & i{
            opacity: 0.5;
        }
        &__purple {
            background-color: $fonct-obj-purple;
            & i{
                color: $primary-color;
                opacity: 1;
            }
        }
        &__nbr {
            @include fonct-nbr;
        }
    }
    @media (min-width: 800px) {
        text-align: center;           
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__obj {
            width: 300px;
        }
    }
}

//SECTION RESTAURANT ACCUEIL
.section-restau {
    background-color: $background-color;
    @include padding-page($restau-padding);
    &__text {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__obj {
        @include section-restau-obj;
        & img{
            @include index-img;
        }
        & i{
            @include section-restau-i;
        }
        &__heading {
            padding: $restau-heading-padding;
            margin: $restau-heading-margin;
        }
        &__byline {
            padding: $restau-byline-padding;
            margin: $restau-byline-margin;
        }
    }
    @media (min-width: 800px) {
        h1 {
            text-align: center;
        }
        &__obj img{
            height: 600px;
            object-position: 50% 80%;
        }
    }
}