@mixin index-img {
    object-fit: cover;
    object-position: 50% 95%;
    height: 280px;
    width: 100%;
    border-radius: 15px 15px 0 0 ;
}

@mixin menu-img {
    object-fit: cover;
    object-position: 50% 95%;
    height: 350px;
    width: 100%;
    position: relative;
}

@mixin button {
    padding: $button-padding;
    border-radius: 50px;
    background: linear-gradient($secondary-color,$primary-color);
    border: none;
    box-shadow: $box-shadow;
    &:hover {
        box-shadow: $box-shadow-hover;
    }
}

@mixin padding-page($padding: $page-padding) {
    padding: $padding;
}

@mixin titre-border-bottom {
    border-bottom: 4px solid $tertiary-color;
    width: 50px;
}

@mixin section-restau-i($size: $h1-size) {
    margin: $restau-icone-margin;
    font-size: $size;
    &:hover {
        font-weight: bold;
        background: linear-gradient($primary-color, $secondary-color);
    }
}

@mixin section-restau-obj {
    background-color: $background-color-secondary;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: $box-shadow;
}

@mixin menu-check {
    display: none;
    background-color: $tertiary-color;
    color: white;
    float: right;
    position: relative;
    text-align: center;
    font-size: $normal-size;
    border-radius: 0 15px 15px 0;
    width: 80px;
    height: 80px;
    margin-right: -80px;
    & i {
        margin-top: 30px;
    }
}

@mixin fonct-obj($background: $background-color) {
    padding: $fonct-obj-padding;
    margin: $fonct-obj-margin;
    color: $text-color;
    background-color: $background;
    border-radius: 30px;
}

@mixin fonct-nbr {
    margin: 0px 0 0 -45px;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    color: $fonct-nbr-color;
    background-color: $primary-color;
    font-weight: 100;
    float: left;
}