// Color
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$text-color: black;
$background-color: #F2F2F2;
$background-color-secondary: white;

// Fonts
$logo-font: "Shrikhand";
$text-font: "Roboto";
$h1-size: 2em;
$normal-size: 1.5em;

// Margin & Padding
$page-padding: 10px;