// Color
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$text-color: black;
$text-color-secondary: #353535;
$text-footer-color: white;
$background-color: #F6F6F6;
$background-color-secondary: white;
$background-color-position: #EAEAEA;
$background-color-footer: #353535;
$fonct-nbr-color : white;
$fonct-obj-purple: rgba(147,86,220,0.1);
$new-background : rgb(153,226,208);
$new-color : rgb(0,135,102);

//shadow
$box-shadow: 5px 5px 10px lightgrey;
$box-shadow-hover: 10px 10px 15px grey;

// Fonts
$logo-font: "Shrikhand";
$text-font: "Roboto";
$logo-size: 3em;
$h1-size: 2em;
$h1-weight: 900;
$normal-size: 1.5em;
$small-size: 1.25em;


// Margin & Padding
$header-padding: 10px 20px 10px 20px;
$footer-padding: 30px 20px 30px 20px;
$footer-a-padding: 5px 0 5px 0;
$page-padding: 30px 20px 30px 20px;
$icone-padding: 20px;
$button-padding: 20px 20px;
$restau-padding: 50px 20px 50px 20px;
$restau-heading-padding: 0px 20px 0px 20px;
$restau-byline-padding: 0px 20px 20px 20px;
$restau-heading-margin: 10px 0 5px 0;
$restau-byline-margin: 5px 0 10px 0;
$restau-icone-margin: 0 30px 0 0;
$fonct-padding: 50px 20px 50px 20px;
$fonct-obj-padding: 15px 30px 15px 30px;
$fonct-obj-margin: 20px 0px 20px 20px;
$menu-padding: 10px 0 10px 0;
$menu-text-padding: 0 15px 0 15px;
$menu-button-padding: 20px 50px;
$menu-button-margin: 40px 0;