//HEADER MENU
header {
    @include padding-page($header-padding);
    text-align: center;
    font-family: $logo-font;
    font-size: $logo-size;
    box-shadow: $box-shadow;
    position:relative;
    z-index:1;
    & i {
        position: absolute;
        top: 35%;
        left: 5%;
        color: $text-color-secondary;
        font-size: 30px;
    }
}