//HEADER MENU
header {
    @include padding-page($header-padding);
    text-align: center;
    font-family: $logo-font;
    font-size: $logo-size;
    & i {
        color: $text-color-secondary;
    }
}